.btn{
  padding : 8px 12px;
  border-radius: 3px;
  border: 0;
}

.btn-primary{
 background-color: blue;
 color:  white
}

.btn-secondary{
  background-color: gray;
  color:  black
 }

 .btn-danger{
  background-color: red;
  color:  white
 }